<html>
    {{template "header.tmpl.html"}}
    <body>
      {{template "nav.tmpl.html"}}

        <div class="jumbotron text-center">
          <div class="container">
            <a href="/" class="lang-logo">
              <img src="/static/lang-logo.png" alt="image of golang gopher">
            </a>
            <h1>Todos Los Dias</h1>
            <p>Your everyday to-do list</p>
            <div class="input">
                <form action="/" method="post">
                    <input type="text" id="task" name="task" size="50" 
                           placeholder="What would you like to accomplish?" 
                           required autofocus
                    />
                </form>
            </div>
          </div>
        </div>

        <div class="container tasks">
          {{template "tasks.tmpl.html" .}}
        </div>

    </body>
</html>
